<header class="header"> 
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Projem</span>
        <span class="example-spacer"></span>
       <ul class="header-menu"> 
        <li>
            <a routerLink="/">Anasayfa</a>
        </li>
        <li>
            <a routerLink="about">Hakkımda</a>
        </li>
        <li>
            <a routerLink="endeksler">Endeksler</a>
        </li>
        </ul>
      </mat-toolbar>
      
</header>